
#include "hal_config.h"
#include "boot_config.h"

MK_CONFIG_FDL1_IMAGE_START = CONFIG_FDL1_IMAGE_START
MK_CONFIG_FDL1_IMAGE_SIZE = CONFIG_FDL1_IMAGE_SIZE

MK_CONFIG_FDL2_IMAGE_START = CONFIG_FDL2_IMAGE_START
MK_CONFIG_FDL2_IMAGE_SIZE = CONFIG_FDL2_IMAGE_SIZE

MK_CONFIG_APPIMG_FLASH_ADDRESS = CONFIG_APPIMG_FLASH_ADDRESS
MK_CONFIG_APPIMG_FLASH_SIZE = CONFIG_APPIMG_FLASH_SIZE

MK_CONFIG_FS_PY_U_FLASH_ADDRESS = CONFIG_FS_PY_U_FLASH_ADDRESS
MK_CONFIG_FS_PY_U_FLASH_SIZE = CONFIG_FS_PY_U_FLASH_SIZE

MK_CONFIG_FS_PY_B_FLASH_ADDRESS = CONFIG_FS_PY_B_FLASH_ADDRESS
MK_CONFIG_FS_PY_B_FLASH_SIZE = CONFIG_FS_PY_B_FLASH_SIZE

MK_CONFIG_FS_PY_C_FLASH_ADDRESS = CONFIG_FS_PY_C_FLASH_ADDRESS
MK_CONFIG_FS_PY_C_FLASH_SIZE = CONFIG_FS_PY_C_FLASH_SIZE

MK_CONFIG_FS_PY_L_FLASH_ADDRESS = CONFIG_FS_PY_L_FLASH_ADDRESS
MK_CONFIG_FS_PY_L_FLASH_SIZE = CONFIG_FS_PY_L_FLASH_SIZE
